@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

html {
    background-color: inear-gradient( 
        rgba(255, 0, 0, 0.45), 
        rgba(255, 0, 0, 0.45)
    );

    
    background: url('./img/background.jpeg');
    
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 80px;
}

.container {
    background-color: rgba(127, 140, 141,0.4);
    width: 90%;
    margin:0 auto;
}

 .header{
    text-shadow: 1px 1px 1px #A1A1A1;
    text-align: center;
    color:rgba(236, 240, 241,0.5);
        
    .heading{
        font-size: 80px;
        font-weight: bold;
        background-size: 100%;
        margin-bottom: 0;
    }

    .subHeading {
        color: rgba(211, 84, 0,0.6);
        font-size: 20px;
        font-weight: bold;
        background-size: 100%;
    }
 }

.navBar {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    background-color:rgba(236, 240, 241,0.5);
}


.signUp {
    background: rgba(230, 126, 34,0.4)
}


.logIn {
    background: rgba(211, 84, 0, 0.4);
}

 
.event{
    border-radius: 10px;
    box-shadow: 6px 10px 37px -6px rgba(0,0,0,0.75);
    display:inline-block;
    margin:5px;
    background-color: rgba(243, 156, 18,0.8);
    padding:10px;
    z-index: 1;

    .removeEventButton {
        display: none;
        color: rgba(192, 57, 43,1.0);
        border-radius: 50px;
        z-index: 2;
        transition: 2s all ease;
     }
}

.event:hover > .removeEventButton {
    display:block;
}

.row.createEvent *{
    display: inline-block;
}

.currentEvent{
    color: aliceblue;
}

.eventView {
    width: 90%;
    margin:0 auto;
}
 .footer{
    background-color: rgba(44, 62, 80,1.0);
    margin-bottom: 0;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    color: rgba(149, 165, 166,1.0);
    text-align: center;
 }