@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

html {
    background-color: rgba(127, 140, 141,0.4);
    background: url('./img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
}

.logo {
    width: 80px;
}

.container {
    background-color: rgba(127, 140, 141,0.4);
    width: 100%;
}

 .header{
    text-shadow: 1px 1px 1px #A1A1A1;
    text-align: center;
    color:rgba(236, 240, 241,0.5);
    font-size: 80px;
    font-weight: bold;
    background-size: 100%;
 }

.signUp {
    background: rgba(230, 126, 34,0.4)
}


.logIn {
    background: rgba(211, 84, 0, 0.4);
}

 .event {
    border: 1px solid grey;
 }
 
.event{
    display:inline-block;
    margin:10px auto;
    background-color: rgba(243, 156, 18,0.2);
    .event *{
        padding:5px;
     }
}
 .footer{
    background-color: rgba(44, 62, 80,1.0);
    margin-bottom: 0;
 }