@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    height: 90vh;

    font-family: 'Oxygen, San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */



html {
    background-color: inear-gradient( 
        rgba(255, 0, 0, 0.45), 
        rgba(255, 0, 0, 0.45)
    );
    // background: url('./img/3.jpg');
    
    // background-size: cover;
    // background-repeat: no-repeat;
}

input{
    color:rgba(44, 62, 80,1.0);
}


.logo {
    width: 80px;
}

.fa {
    cursor: pointer;
    cursor: hand;
}

// #app-container {
//     width: 90%;
//     margin:0 auto;
//     min-height: 90vh;
// }

.removeButton {
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: -10px;
    right: -10px;

 }

 .header{
    background-color: rgba(44, 62, 80,1.0);
    text-shadow: 1px 1px 1px #A1A1A1;
    text-align: center;
    color:rgba(189, 195, 199,1.0);
    text-decoration:none;

    img{

    }
        
    .heading{
        font-size: 80px;
        font-weight: bold;
        background-size: 100%;
        margin-bottom: 0;
        text-decoration:none;
        color:rgba(189, 195, 199,1.0);
    }

    .subHeading {
        color: rgba(211, 84, 0,0.6);
        font-size: 2em;
        font-weight: bold;
        background-size: 100%;
    }
 }

.navBar {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    background-color:rgba(236, 240, 241,0.5);
    position: relative;
    

    p{
        position: absolute;
        display: none;
        color:black;
    }

    a:hover > p {
        display: block;
    }
}


.signUp {
    background-color: rgba(44, 62, 80,0.2);
    text-shadow: 1px 1px 1px #A1A1A1;
    color:rgba(41, 128, 185,1.0);

}


.logIn {
    background-color: rgba(44, 62, 80,0.2);
    text-shadow: 1px 1px 1px #A1A1A1;
    color:rgba(41, 128, 185,1.0);

}

 
.attendance{
    position: relative;
    padding:10px;
    border-radius: 10px;
    box-shadow: 6px 10px 37px -6px rgba(0,0,0,0.75);
    margin:5px 0;
    // background-color: rgba(243, 156, 18,0.8);
    background: rgba(22,97,120,1);
    padding:10px;
    z-index: 1;

    .eventInfo{
        cursor: pointer;
        cursor: hand;

        span p{
            text-shadow: 2px 0 9px rgba(255,255,255,1);
            font-weight:bold;
        }
    }
}

.attendance:hover > .removeButton {
    opacity:1;
}

.row.createEvent *{
    display: inline-block;
}


.eventDeets{
    background-color: rgba(44, 62, 80,0.2);
    align-content:center;
    display: flex;
    color: aliceblue;
    width: 90%;
    margin: 0 auto;
    justify-content:space-between;

    p {
        text-align: center;
        vertical-align: bottom;
        margin: 0 auto;
        min-width: 33%;
        display: inline-block;
        vertical-align: bottom;
       }


    span{
        text-shadow: 0 0 9px rgba(255,255,255,1) ;
        font-weight:bolder;
    }
}
    
.guests{
    display: inline-block;


    label{ 
    font-weight: bolder;
    text-shadow: 0 0 9px rgba(255,255,255,1) ;
    }

    .inviteWrapper {
    text-align: center;
    }

    .guestList{
       display: flex;
       flex-direction:row;
       flex-wrap:wrap;
       justify-content: space-around;
       align-items:baseline; 
    }




    .guestItem   {
        padding: 20px;
        margin: 5px 5px;
        display:inline-block;
        color: aliceblue;
        background: rgba(22,97,120,1);
        display: inline-flex;
        display: inline-block;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        flex-wrap:wrap;
        flex-flow:row wrap;
        align-content:flex-end;
        box-shadow: 6px 10px 37px -6px rgba(0,0,0,0.75);

    }

}

.bringThis {
    z-index: 1;
    display: inline-block;
    
    .foodAddWrapper {
        text-align: center;

        label {
        font-weight: bolder;
        text-align: center;
        text-shadow: 0 0 9px rgba(255,255,255,1) ;
        }
    }
    
    .foodListView{
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-around;
        align-items:baseline;


    .foodItemWrapper {
        display: inline-block;
        position: relative;
        margin: 5px 0;
        background-color: rgba(52, 73, 94,1.0);
    }

    .foodItem {
        display: inline-flex;
        display: inline-block;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        flex-wrap:wrap;
        flex-flow:row wrap;
        align-content:flex-end;
        color: aliceblue;
        box-shadow: 6px 10px 37px -6px rgba(0,0,0,0.75);


        text-align: center;

        .foodBringerName{
            margin: 0 auto;
            cursor: pointer;
            cursor: hand;
        }
    }
  
    .foodItem:hover > .removeButton {
        opacity:1;
    }

    .foodName{
        margin-left: 1px;
    }

    .lowerHalfFoodItem *{
        display: inline-block;
        padding: 2%;
    }


    .foodQuantityWrapper {
        display: inline-block;
        flex-direction:row;
        justify-content:center;
        align-items:baseline;
        vertical-align: middle;
    }

    // .foodQuantityWrapper* {
    //     display:block;
    //     width: 50%;


    //     p {
    //         width: 50%;
    //         margin: 0 auto;
    //         display: inline-block;
    //     }

    // }    
}

}
 .footer{
    background-color: rgba(44, 62, 80,1.0);
    margin-bottom: 0;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    color: rgba(149, 165, 166,1.0);
    text-align: center;
 }